a {
	color: white;
}

body {
background-color: lightgray;
}

h1 {
	font-family: "Optima", arial, sans-serif;
    font-size: 80px;
    background-color: rgb(230,235,102);
}

p {
	font-family: "Optima", Arial, sans-serif; 	
	background-image: rgb(180,200,240, 65%)
	font-size: 60px;
	line-height: 1.2em;
	letter-spacing: .200em;
}
