body {
	background-color: red;
}

p {
	  margin: 30px;
 font-family: "garamound", serif;
 font-size: 30px;
 text-align: center;
 background-color: white;
 padding: 30px;
 text-align: left;
}
#outer {
    width: 80%;
	/*text-align: center;*/
	margin: auto;
}

#inner {
position: relative;


}